:root {
    --jeopardy-blue: rgb(5, 20, 129);
    --jeopardy-gold: rgb(226, 176, 114);
    --jeopardy-red:  #dc143c;
    --ddEnabled: "true";
}

body, body:fullscreen {
    background: var(--jeopardy-blue);
    color: var(--jeopardy-gold);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

body, div, .game_table {background: var(--jeopardy-blue);}

div:not(#start):not(#fullscreen):not(.show), #final_text, .footnote_text, #daily_double, button[data-manual='false'], .hide {
    display: none;
}

button:hover, input[type='submit'] {
    cursor: pointer;
}

nav {
    width: 100vw;
}
nav ul {list-style-type: none;}
nav li {
    text-decoration: none;
    color: var(--jeopardy-gold);
}

#player_list {
    display: table;
    margin: 0 auto;
    padding: 5px;
}

#player_list li {
    text-align: left;
}

#player_list li button, #player_list li span {
    margin-right: 5px;
}

#scores {
    font-size: 300%;
}

form {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
form input, form label {margin: 5px;}
form input:not([type='number']):not([type='text']):not([type='submit']) {
    margin: 15px;
}

p {display: table-row;}
form input {display: table-cell;}
form label { 
    display: table-cell; 
    text-align: right;
}

#custom_label {
    text-decoration: underline;
    color: lightblue;
}
#custom_label::before {
    content: "[";
    color: var(--jeopardy-gold);
}
#custom_label::after {
    content: "]";
    color: var(--jeopardy-gold);
}
#custom_label:hover {cursor: pointer;}
#player_scores {list-style-type: none;}

.game_table, .game_table td, .game_table th {
    background: var(--jeopardy-blue);
    table-layout: fixed;
    border: 6px solid black;
    border-collapse: collapse;
}
.game_table th {
    color: white;
    font-size: 125%;
}
.game_table td {
    color: var(--jeopardy-gold);
    font-size: 200%;
}


.game_table:not(.console) {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
} 

.comments * { 
    text-align: left;
}

#daily_double {color: var(--jeopardy-red);}
#question {
    padding-top: 25vh;
    padding-bottom: 25vh;
    color: white;
}
#question * {margin: 10px;}
.question_cell {cursor: grab;}
.game_table.dd_enabled .question_cell[data-dd='true']:not([data-client='true']) {
    color: var(--jeopardy-red);
} 

.question_cell.console.seen {color: #60523E;}
.game_table.dd_enabled .question_cell.console.seen[data-dd='true'] {color: #551111;}


.question_cell[disabled='true'] {
    cursor: default;
    color:  var(--jeopardy-blue);
    font-size: 0;
}

.game_table.console {
    width:  100%;
}

.footnote {color: lightblue;}
.footnote:hover {cursor: pointer;}

.center_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center_container button {
    margin: 5px;
} 
